
<ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
    <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="shop.html">Shop</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
    </li>
    <li class="nav-item">
        <a class="shop_cart nav-icon position-relative text-decoration-none" href="#">
            <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
            <span id="myCart" class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark notification_point">0</span>
        </a>
        <div id="myList" class="notification_list">
            <a href="#" class="notification_single" target="_blank">
                <div class="notleft">
                  <div class="notImg">
                    <img src="shop/product/T003.jpg" alt="">
                  </div>
                </div>
                <div class="notright">
                  <div>名稱：時雨 私服ver</div>
                  <div>數量：1</div>
                  <div>價格：NT$ 2000</div>
                </div>
            </a>
        </div>
    </li>
</ul>
