
<ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
    <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="shop.html" onclick="shopCategoru('All')">Shop</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
    </li>
    <li class="nav-item">
        <a class="shop_cart nav-icon position-relative text-decoration-none" href="#">
            <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
            <span id="myCart" class="position-absolute top-0 left-100 translate-middle badge rounded-pill notification_point cart_none">0</span>
        </a>
        <div id="myList" class="notification_list">
            <!-- <div class="cart_payBtn"><a href="../shop-order.html" class="btn btn-success btn-lg">去結帳</a></div> -->
            <div class="cart_payBtn"><button class="btn btn-danger btn-sm" onclick="cartBtn()">去結帳</button></div>
            <div id="myListContent" class="list">
                <div class="no_cart">購物車尚未有東西喔</div>
            </div>
        </div>
    </li>
</ul>
<div class="notification_block"></div>
