<!-- 登入 註冊前 -->
<div id="mySign" style="display: none;">
    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
        <li class="nav-item sign_tag">
            <a class="nav-link" href="signup.html">註冊</a>
        </li>
        <li class="nav-item sign_tag">
            <a class="nav-link" href="login.html?backurl=index.html">登入</a>
        </li>
    </ul>
</div>

<!-- 登入後 -->
<div id="myUser" class="myUser" style="display: none;">
    <div class="userTag">
        <span id="myName" class="name"></span>
        <span class="down-arrow"></span>
    </div>
    <div class="drapdown" style="display: none;">
        <a href="myorders.html"><div class="drapBtn">訂單查詢</div></a>
        <a href="profile.html"><div class="drapBtn">個人資料</div></a>
        <a href="#"><div id="myLogout" class="drapBtn">登出</div></a>
    </div>
</div>
