
<ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
    <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="shop.html">Shop</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
    </li>
    <li class="nav-item">
        <a class="shop_cart nav-icon position-relative text-decoration-none" href="#">
            <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
            <span id="myCart" class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark notification_point">0</span>
        </a>
        <div id="myList" class="notification_list">
            <a href="https://www.google.com.tw/" class="notification_single" target="_blank">
                <div class="notleft">
                  <div class="notImg">
                    <img src="shop/google-icon.svg" alt="">
                  </div>
                </div>
                <div class="notright">
                  <div>來自google的通知，google全新介面開放使用，全新的用戶體驗，新的操作與功能，無廣告，雲端，影音隨你操作</div>
                </div>
            </a>
        </div>
    </li>
</ul>
